<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About me</h1>
    <p>
      I'm 33 years old and currently working at a casino as a slot technician. I
      love playing video games. i will be moving to Florda end of January. i
      love sport cars. I'm currently during a Mini Cooper JCW but my dream car
      is to get a nissan GTR or 370z.
    </p>
  </body>
</html>
